<div>
  <button (click)="goBack()"> 
    &lsaquo; GoBack
  </button>
  <!-- {{ passenger | json }} -->
  <passenger-form
    [detail] = "passenger"
    (update)="onUpdatePassenger($event)">

  </passenger-form>
</div>
