<div class='app'>
  <nav class="nav">
    <a
      *ngFor="let item of nav"
      [routerLink]="item.link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: item.exact }">
      {{ item.name }}
    </a>

    <!-- Placeholder where component html will be placed base on route entered -->
    <router-outlet></router-outlet>
  </nav>
</div>
