<div>
    <span class="status" [class.checked-in]="detail.checkedIn"></span>
    <div *ngIf="editing">
      <input
        type="text"
        [value]="detail.fullname"
        (input)="onNameChange(name.value)"
        #name>
    </div>
    <div  *ngIf="!editing" >
        {{ detail.fullname }}
    </div>

    <div class="date">
      Checkin date:
      {{ detail.checkInDate ? (detail.checkInDate | date: 'yMMMMd' | uppercase) : 'Not checked in' }}
    </div>
    <!-- <div class="children">
      Children: {{ detail.children?.length || 0  }}
    </div> -->
    <button (click)="toggleEdit()">
      {{ editing ? 'Done' : 'Edit' }}
    </button>
    <button (click)="onRemove()">
        Remove
    </button>
    <button (click)="goToPassenger()">
        View
    </button>
</div>
