<div>
   <!-- Pass data from dashboard component to count component items property using property binding -->
   <!-- Bind data from parent component to child component property i.e. similar to binding to html property -->
  <passenger-count
    [items]="passengers">
  </passenger-count>
  <passenger-detail
    *ngFor="let passenger of passengers;"
    [detail]="passenger"
    (view)="handleView($event)"
    (edit)="handleEdit($event)"
    (remove)="handleRemove($event)">
  </passenger-detail>
<!--
  <ul>
    <li *ngFor ="let passenger of passengers; let i= index;">
      <span class="status"
        [class.checked-in]="passenger.checkedIn"> </span>
      {{ i }} : {{ passenger.fullname }}
      <div class="date">
        Checkin date:
        {{ passenger.checkInDate ? (passenger.checkInDate | date: 'yMMMMd' | uppercase) : 'Not checked in' }}
      </div>
      <div class="children">
        Children: {{ passenger.children?.length || 0 }}
      </div>
    </li>
  </ul> -->

</div>
